<section class="container-fluid home">
  <button (click)="onOpenModal()">
    Open Modal
  </button>

  <div>
    <p>Only Number</p>
    <input type="text" onlyNumber [(ngModel)]="name1">
  </div>

  <div class="mt-3">
    <p>Restrict special characters</p>
    <input type="text" restrictSpecialChar [(ngModel)]="name2">
  </div>

  <div class="mt-4">
    <ckeditor [editor]="Editor" id="test1" (change)="onChangeEditor($event)" [maxlengthCkeditor]="5">
    </ckeditor>
  </div>

  <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <div class="form-group mt-5">
      <input placeholder="Nhập tên" formControlName="name" class="form-control">
      <p *ngIf="!myForm.get('name')?.valid" class="text-danger">Tên không được để trống</p>
    </div>

    <input-dropdown formControlName='country'></input-dropdown>
    
    <button class="mt-3" type="submit">Submit</button>

  </form>

</section>